
p{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
}
span{
color: orange;
}

.landing{
    background-image: url(X\ -\ 1.svg);
    background-repeat: no-repeat;
}
.container{
    display:flex;
    justify-content: center;
    padding-top: 310px;
     opacity: 0;
}
.click{
   opacity: 1;
}
.space{
    height: 30px;
}
.container2{
    display:flex;
    justify-content: center;
    padding-top: 130px;
    opacity: 0;
}
.container3{
    display:flex;
    justify-content: center;
    padding-top: 140px;
    opacity: 0;
}
.link{
font-size:30px;
}
.popper{
background-color:orange;

}

.popper2{
background-color:green;

}
.popper3{
background-color:yellow;
}
.popper4{
background-color:orange;
}
.popper5{
background-color:red;
}
.list-group{
background-image:url(wall1.jpg);
max-width:400px;
}